@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist:</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="add new stylist" />
}
<p>@Html.ActionLink("show all stylists", "Index")</p>
<p>@Html.ActionLink("back to home", "Index", "Home")</p> 